body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#branding img {
  height: 70px;
  margin-top: 8px;
  border: none;
  display: inline-block;
  padding: ;
}

#branding p {
  margin-left: 62px;
  margin-bottom: 1.25rem;
  margin-top: -48px;
  color: #e7e7e7;
}
ul {
  margin: 0;
  border: 0;
}

header {
  background: #121e32;
  color: #e7e7e7;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

#showcase {
  background: url(/images/banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.showcase-banner {
  padding: 200px;
}

.container h1,
p {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  line-height: 23px;
}

.container h1 {
  line-height: 34px;
  font-size: 30px;
}

.container p {
  line-height: 34px;
  font-size: 16px;
  display: block;
}

.button_1 {
  background: #dc8f1a;
  border: inherit;
  cursor: pointer;
  border-radius: 20px;
  float: left;
  color: #15477a;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.9px;
}

.button_2 {
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  font-weight: bold;
  background: #00800000;
  color: #ffffff;
  letter-spacing: 0.9px;
  border: 1px solid;
}

.social {
  color: #ffffff;
  letter-spacing: 0.8px;
}

.social img {
  padding: 16px 16px;
}
