body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#branding img {
  height: 70px;
  margin-top: 8px;
  border: none;
  display: inline-block;
  padding: ;
}

#branding p {
  margin-left: 62px;
  margin-bottom: 1.25rem;
  margin-top: -48px;
  color: #e7e7e7;
}
ul {
  margin: 0;
  border: 0;
}

header {
  background: #121e32;
  color: #e7e7e7;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

#showcase {
  background: url(/images/banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
